/* This style is use to mark the active page selection button */
.current {
    color: red;
}
/* This style is used to set the page background color for all pages */
body{ 
    background-color: lightgoldenrodyellow;
}
/* This style is used to format the title of a page */
h1.title-style {
    color: blue;
    text-align: center; 
 }